# DOCKER
# docker-compose down
# docker-compose up --build
# OU
# # 1. Pare os containers limpando volumes residuais e containers órfãos
# docker-compose down --volumes --remove-orphans

# # 2. Force o sistema do Docker a deletar o cache de build do backend
# docker builder prune -f

# # 3. Suba novamente forçando a recriação completa de cada linha da imagem
# docker-compose up --build --force-recreate

# ARRANCAR
# agent-frontend> npm run start
# codeguard_backend> uvicorn codeguard_core.asgi:application --reload --port 8000 
